:root {
    --brand-gray-black: #1D1D1F;
    --brand-gray-50: #313135;
    --brand-gray-200: #64646F;
    --brand-gray-white: #FFFFFF;
    --core-primary-01: #1289F3;

    --time-xs: 0.12s;
    --time-s: 0.24s;
    --time-m: 0.5s;
    --time-l: 0.7s;
    --time-xl: 1s;

    --grid-content-width-pc: 1620px;
    --grid-margin-PC: 40px;
    --GNB-height: 100px;
  }

  .mask {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }  

  /* ========== animation ========== */
  * {
    transition: all;
    animation-fill-mode: backwards;
    transition-timing-function: cubic-bezier(.41,.02,.59,.96);
  }

  .trasition {
    transition-duration: var(--time-m);
    animation-duration: var(--time-m);
    animation-fill-mode: backwards;
  }

  .delayXS {
    animation-delay: var(--time-xs);
  }
  .delayS {
    animation-delay: var(--time-s);
  }
  .delayM {
    animation-delay: var(--time-m);
  }
  .delayL {
    animation-delay: var(--time-l);
  }
  .delayXL {
    animation-delay: var(--time-xl);
  }


  .durationS {
    transition-duration: var(--time-s);
    animation-duration: var(--time-s);
  }
  .durationL {
    transition-duration: var(--time-l);
    animation-duration: var(--time-l);
  }

@keyframes CanvasScaleUp {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.fadeOut {
  animation-name: fadeOut;
}


@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate(0,100%);
  }
  to {
    opacity: 1;
    transform: translate(0,0);
  }
}
.slideUp {
  display: block;
  animation-name: slideUp;
}


@keyframes slideRignt {
  from {
    opacity: 0;
    transform: translate(-50%,0);
  }
  to {
    opacity: 1;
    transform: translate(0,0);
  }
} 
.slideRignt {
  display: block;
  animation-name: slideRignt;
}


@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translate(50%,0);
  }
  to {
    opacity: 1;
    transform: translate(0,0);
  }
} 
.slideLeft {
  display: block;
  animation-name: slideLeft;
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(0,-100%);
  }
  to {
    opacity: 1;
    transform: translate(0,0);
  }
} 
.slideDown {
  display: block;
  animation-name: slideDown;
}