
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: start;
  align-items: center;
  background-color: var(--brand-gray-black);
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--brand-gray-white);
}

/* ============ grid ============ */
.gridWrap {
  width: 100%;
  max-width: var(--grid-content-width-pc);
  margin-left: var(--grid-margin-PC);
  margin-right: var(--grid-margin-PC);
  justify-self: center;
  align-self: center;
}

nav, footer, section, .wrap {
  display: flex;
  width: fit-content;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

/* ============ Intro ============ */
#intro {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color:var(--brand-gray-black);
  z-index: 20;
  animation-fill-mode: forwards;
}

/* ============ Canvas ============ */
canvas#three {
  position: absolute;
  transform-origin: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
}


/* ============ GNB ============ */
.GNB {
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: var(--GNB-height);
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.GNB .gridWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.GNB .item {
  display: flex;
  justify-self: center;
  align-items: center;
  align-self: stretch;
}
.GNB .gridWrap .logo {
  width: 190px;
}
.GNB .gridWrap .wrap {
  gap: 40px;
}
.GNB .gridWrap .toggle {
  min-width: 40px;
  min-height: 40px;
  font-size: 0px;
}
.GNB .gridWrap .toggle > img {
  width: 28px;
  height: 28px;
}



/* ========== Visual ========= */
.visaul {
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 100vw;
  height: 100vh;
  padding-top: var(--GNB-height);
  padding-bottom: var(--GNB-height);
  overflow: hidden;
  animation-delay: 3s;
}
.visaul .gridWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  height: 100%;
}
.visaul .bgWrap {
  max-width: none;
  background: url(./video/visual_bg_video_01_2_poster.png) cover;
  z-index: -1;
  overflow: hidden;
}
.mainVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 177.77vh;
  min-height: 56.25vw;
}
.bgWrap .bgText {
  display: block;
  width: 100%;
  font-size: max(8.333333vw, 160px);
  font-style: normal;
  font-weight: 700;
  line-height: 105%; /* 168px */
  color: var(--brand-gray-white);
  padding-top: var(--GNB-height);
  z-index: 2;
  opacity: 0.1;
}

.visaul .gridWrap .quickMenu {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 1fr;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  gap: 20px;
  justify-self: end;
  align-self: end;
  margin-bottom: 22px;
}
.quickMenu .quickMenu_item:hover {
  transform: translate(-28px,0);
}
.quickMenu .quickMenu_item:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -16px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-top: -6px;
  background-color: var(--core-primary-01, #1289F3);
  transform: translate(12px,0);
  animation-name: slideRight;
  transition: all;
  transition-duration: var(--time-s);
}



/* ========== Footer ========== */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding-bottom: 24px;
  color: var(--brand-gray-200);
  font-size: 14px;
  z-index: 10;
}
footer .gridWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .wrap {
  gap: 40px;
}
